 /* below we have a grouped selector */
 p, ul {
    color:purple;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
/* descendant selector */
p a {
    color: green;
}
#firstparagraph {
    color:tomato;
}
.pinktext {
    color:pink;
}
a {
    text-decoration: none;
}